{% extends "LouvreBookingBundle::layout.html.twig" %}

{% block title %}
    {{ 'validation.head.title'|trans ~ ' - ' ~ parent() }}
{% endblock %}

{% block li %}
    <li class="col-xs-6 col-sm-2 col-md-2 text-uppercase">
        <a class="text-muted" href="{{ path('louvre_booking_index_commande',{ 'codeCommande':commande.codeCommande }) }}
        ">{{ 'header.breadcrumb1'|trans|nl2br }}</a>
    </li>
    <li class="col-xs-6 col-sm-2 col-md-2 text-uppercase">
        <a class="text-muted" href="{{ path('louvre_booking_informations',{ 'codeCommande':commande.codeCommande }) }}">{{ 'header.breadcrumb2'|trans|nl2br }}</a>
    </li>
    <li class="col-xs-6 col-sm-2 col-md-2 text-uppercase">
        <a class="text-muted" href="{{ path('louvre_booking_recapitulative',{ 'codeCommande':commande.codeCommande }) }}">{{ 'header.breadcrumb3'|trans|nl2br }}</a>
    </li>
    <li class="col-xs-6 col-sm-2 col-md-2 text-uppercase">
        {{ 'header.breadcrumb4'|trans|nl2br }}
    </li>
{%  endblock %}


{% block formulaire %}
    {% block titre %}
        <h2 class="text-center text-uppercase">{{ 'validation.form.title'|trans }}</h2>
    {% endblock %}

    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
            <p><strong>{{ 'validation.form.booking.title'|trans({'%codeCommande%': commande.codeCommande, '%date%': 'now'|localizeddate('medium', 'none')}) }}</strong></p>
            <p class="italic">{{ 'validation.form.booking.comment'|trans({'%codeCommande%': commande.date|localizeddate('medium', 'none'), '%price%': commande.price}) }}</p>
            <p class="italic">{{ 'validation.form.booking.send'|trans }}</p>
        </div>
    </div>
    <a href="{{ path('louvre_booking_recapitulative', {'codeCommande': commande.codeCommande }) }}">
        <button type="button" class="btn-default btn btn-primary">{{ 'form.button.previous'|trans }}</button>
    </a>
{% endblock %}